:root{
    --color-azul-claro: #2A7AE4;
    --color-background-footer-login:#EAF2FD;
    --color-blanco: #FFFFFF;
    --color-gris-clarito: #F5F5F5;
    --background-section-medio:#E5E5E5;
    --color-gris: #464646;
    --font-family: 'Raleway';


}