@import url("var.css");
@import url("bannerProductos.css");
@import url("contacto.css");
@import url("componentes/agregarProductos.css");
@import url("componentes/login.css");
@import url("componentes/productos.css");
body{
    font-family: var(--font-family);
    font-weight: 700;
    box-sizing: border-box;
    font-style: 'normal';
}
a{
    text-decoration: none;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-blanco);   
}
.cabecera_container{
    width: 85%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .85rem;
    padding-bottom: .85rem;
    
}
.cabecera__logo{
    width: 8.3rem;
}

.invisible{
    display: none;
}

.login{
    width: 7.3rem;
    height: 2.5rem;
    font-size: 16px;
    background-color: var(--color-blanco);
    border: solid 2px var(--color-azul-claro);
}
.login_text{
    color: var(--color-azul-claro);
}
.boton_lupa{
    border: none;
    background: var(--color-blanco);
    width: 3rem;
}

  
.input-container--invalid{
    border: 3px solid #e6001b;
    border-radius: 7px;
}

@media screen and (min-width: 768px){
    .cabecera_container{
        width: 80%;
        margin-left: 1.3rem;
        display: flex;
        gap: 1rem;
        height: 9vh;
    }
    .cabecera__logo{
        width: 9.8rem;
    }
    #invisible{
        display: none;
    }
    #busqueda{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .busqueda_form{
        display: flex;
        background: aliceblue;
        border-radius: 2rem;
    }
    .busqueda__input{
        padding: .75rem;
        border-radius: 1.25rem;
        border: none;
        height: 3rem;
        width: 14rem;
        background-color: aliceblue; /*tiene que ser blaco */
    }
    .busqueda__input:focus{
        outline: none;
    }
    
    .boton_busqueda{
        border: none;
        background: aliceblue;
        border-radius: 2rem;
    }

    .login{
        width: 8.3rem;
        height: 2.9rem;
        font-size: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .cabecera__logo{
        width: 12rem;
    }
    #busqueda{
        width: 28rem;
        height: 4rem;
    }
    .busqueda_form{
        width: 100%;
        justify-content: space-around;
    }
    .busqueda__input{
        font-size: 1.12rem;
        height: 4rem;
    }
}